//backend/assets/*
//backend/config/main-local.php
//backend/config/params-local.php
//backend/config/test-local.php
//backend/runtime/*
//backend/tests/*
//common/config/*
//frontend/config/*
//vendor
//composer.son
//composer-lock
//nbproject
//yii