backend/assets/*
backend/config/main-local.php
backend/config/params-local.php
backend/config/test-local.php
backend/runtime/*
backend/tests/*
backend/web/imagenes/*
common/config
frontend/config/*
frontend/web/assets/*
vendor
composer.json
composer.lock
nbproject
yii
