backend/assets/*
backend/config/main-local.php
backend/config/params-local.php
backend/config/test-local.php
backend/runtime/*
backend/tests/*
//common/config/*
frontend/config/*
vendor
composer.json
composer.lock
nbproject
yii