html{
  overflow-x:hidden;
}
.portfolio-item {
    margin-bottom: 25px;
}

div ul li{
	font-size: 15px;
}

footer {
    margin: 50px 0;
}
/*Header*/
.fa-ul li{
	font-size: 20px;
}
/*navegacion*/
.subnav-hero-section {
  text-align: center;
  background: #1779ba;
  background-size: cover;
  position: relative;
  overflow: visible;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 300px;
}

.subnav-hero-section .subnav-hero-headline {
  color: #fefefe;
}

.subnav-hero-subnav {
  float: none;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  bottom: 0;
  width: 100%;
}

.subnav-hero-subnav li {
  float: none;
  display: inline-block;
}

.subnav-hero-subnav li a {
  padding: 0.9rem 1rem;
  font-size: 0.75rem;
  color: #fefefe;
  text-transform: uppercase;
  display: block;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.35s ease-in-out;
}

.subnav-hero-subnav li a.is-active {
  background: rgba(254, 254, 254, 0.15);
}

.subnav-hero-subnav li a:hover {
  background: rgba(254, 254, 254, 0.15);
}

.navbar-brand{
	color: white;
}
.navbar-brand:hover{
	color: white;
}

header.subnav-hero-section{
	height: 40%;
}

/*Label Search*/


/*Boton buscar*/
#content{
    padding-top: 35px;
}

.input-group{
  width: 107%;
}

.input-group-rounded .input-group-field {
  border-radius: 5000px 0 0 5000px;
  padding-left: 1rem;
}

.input-group-rounded .input-group-button .button {
  border-radius: 0 5000px 5000px 0;
}

.input-group-field{
  width:100%; 
}

button[type="submit"] {
    font-family: FontAwesome;
}


/*tabbed search bar*/
.translucent-form-overlay {
  max-width: 500px;
  width: 100%;
  background-color: #003454;
  padding: 20px;
  color: #fefefe;
}

.translucent-form-overlay .columns.row {
  display: block;
}

.translucent-form-overlay h3, .translucent-form-overlay label {
  color: #fefefe;
}

.translucent-form-overlay input, .translucent-form-overlay select {
  color: #8a8a8a;
}

.translucent-form-overlay input::-webkit-input-placeholder {
  color: #8a8a8a;
}

.translucent-form-overlay input:-ms-input-placeholder {
  color: #8a8a8a;
}

.translucent-form-overlay input::placeholder {
  color: #8a8a8a;
}


/*Cards v-2*/

.card-product:hover .card-product-img-wrapper .button {
  -webkit-transform: translateY(-3rem);
      -ms-transform: translateY(-3rem);
          transform: translateY(-3rem);
}

.card-product-img-wrapper {
  margin-bottom: 1.375rem;
  position: relative;
  overflow: hidden;
}

.card-product-img-wrapper .button {
  transition: all 0.2s ease;
  background-color: #767676;
  padding: 1rem 0.5rem;
  bottom: -3rem;
  -webkit-transform: translateY(3rem);
      -ms-transform: translateY(3rem);
          transform: translateY(3rem);
  position: absolute;
  z-index: 2;
  color: #fefefe;
  margin-bottom: 0;
}

.card-product-img-wrapper .button:hover {
  background-color: #1779ba;
}

.card-product-img-wrapper img {
  width: 100%;
}

.card-product-img-wrapper .card-product-name {
  font-size: 1.375rem;
}

.card-product-img-wrapper .card-product-price {
  font-weight: bold;
}

.card-product-img-wrapper .card-product-description {
  color: #8a8a8a;
  font-size: 0.875rem;
  margin-bottom: 0;
}

#separador-cards{
  margin-top: 50px;
}

img.imagenes-250{
  width: 100%;
  height: 270px;
}

.card-section{
  background: #F0F0F0;
}

.card.card-product{
  background: #F0F0F0;
}

div.orbit ul li img{
  height: 300px;
}

#container-orbit{
  padding-top: 60px;
}

/*Cardview detail*/

.simple-article-header {
  background: #fefefe;
  padding: 1.3rem 2rem .7rem;
  border: 1px solid #cacaca;
  margin-bottom: 1rem;
}

.simple-article-header .article-date-read {
  color: #8a8a8a;
}

.simple-article-header .article-title {
  text-transform: uppercase;
}

.simple-article-header .article-title a {
  color: #0a0a0a;
}

.simple-article-header .article-title a:hover, .simple-article-header .article-title a:focus {
  color: #1779ba;
}

.simple-article-header .article-author-comments a.article-comments {
  color: #8a8a8a;
}

.simple-article-header .article-author-comments a.article-comments:hover, .simple-article-header .article-author-comments a.article-comments:focus {
  color: #1779ba;
}

.simple-article-header .article-date-read,
.simple-article-header .article-title,
.simple-article-header .article-author-comments,
.simple-article-header .article-social,
.simple-article-header .article-post-image,
.simple-article-header .article-post-content {
  margin-bottom: 0.25rem;
}

.simple-article-header .article-social {
  margin-top: 0.75rem;
}

.simple-article-header .article-social .social {
  margin-right: 0.25rem;
}

.simple-article-header .article-social .social.facebook {
  background-color: #3b5998;
  color: #fefefe;
}

.simple-article-header .article-social .social.facebook:hover, .simple-article-header .article-social .social.facebook:focus {
  background-color: #2f477a;
  color: #fefefe;
}

.simple-article-header .article-social .social.twitter {
  background-color: #55acee;
  color: #fefefe;
}

.simple-article-header .article-social .social.twitter:hover, .simple-article-header .article-social .social.twitter:focus {
  background-color: #1a8fe8;
  color: #fefefe;
}

.simple-article-header .article-social .social.linkedin {
  background-color: #007bb5;
  color: #fefefe;
}

.simple-article-header .article-social .social.linkedin:hover, .simple-article-header .article-social .social.linkedin:focus {
  background-color: #006291;
  color: #fefefe;
}

.simple-article-header .article-social .social.google-plus {
  background-color: #dd4b39;
  color: #fefefe;
}

.simple-article-header .article-social .social.google-plus:hover, .simple-article-header .article-social .social.google-plus:focus {
  background-color: #be3221;
  color: #fefefe;
}

.simple-article-header .article-social .social > .fa {
  color: #fefefe;
}

.simple-article-header .article-social .social > .fa.fa-comments-o {
  margin-right: 0.25rem;
}

/*Imagenes Details*/

.featured-image-block-grid-header {
  margin-left: auto;
  margin-right: auto;
}

.featured-image-block {
  margin-bottom: 20px;
}

.featured-image-block .featured-image-block-title {
  font-weight: 600;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1em;
  color: #404040;
}

.featured-image-block a:hover p {
  color: #1779ba;
}

#card-price.card-product-price{
  margin-bottom: 0;
}

ul.fa-ul{
  margin-left: 0;
}

/*Footer*/

.marketing-site-footer {
  background: #1779BA;
  color: #000000;
  padding: 2rem 0 0;
  margin-bottom: 0;
}

.marketing-site-footer .marketing-site-footer-menu-social a {
  color: #fefefe;
}

.marketing-site-footer .column-block {
  margin-bottom: 30px;
}

.marketing-site-footer > .row {
  margin-bottom: 1rem;
}

@media screen and (max-width: 39.9375em) {
  .marketing-site-footer .columns {
    margin-bottom: 2rem;
  }
}

.marketing-site-footer-name {
  color: #fefefe;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.marketing-site-footer-title {
  color: #fefefe;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.marketing-site-footer-block {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 1rem;
}

.marketing-site-footer-block .fa {
  font-size: 2rem;
  color: #020304;
}

.marketing-site-footer-block p {
  margin-left: 1rem;
  line-height: 1.125rem;
}

.marketing-site-footer-bottom {
  background: #020304;
  padding: 1rem 0;
}

.marketing-site-footer-bottom p,
.marketing-site-footer-bottom .menu {
  margin-bottom: 0;
}

.marketing-site-footer-bottom .marketing-site-footer-bottom-links {
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.marketing-site-footer-bottom .marketing-site-footer-bottom-links a {
  color: #8aa0ae;
}

@media screen and (max-width: 63.9375em) {
  .marketing-site-footer-bottom .marketing-site-footer-bottom-links {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 63.9375em) {
  .marketing-site-footer-bottom {
    text-align: center;
  }
}

/*alineaciones*/
.row.medium-unstack{
  margin-bottom: 0;
}

#tel a{
  color: #000000;
}

#mail a{
  color: #000000;
}

#img-view-list{
  width: 250px;
  height: 250px;
}

#colonia{
  margin: 0px 1px;
}

/*Contador*/

.dashboard-number-card {
  background: #fff;
  border-radius: 5px;
  margin: 0 20px 20px;
  position: relative;
}

.dashboard-number-card .dashboard-number-delta {
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  bottom: 6px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 0;
  opacity: 0.7;
  position: absolute;
  right: 6px;
  color: #1779ba;
}

.dashboard-number-card .dashboard-number-delta i {
  margin-right: 5px;
  width: 0.6rem;
}

.dashboard-number-card.positive .dashboard-number-delta, .dashboard-number-card.negative .dashboard-number-delta {
  color: #fefefe;
}

.dashboard-number-card.positive .dashboard-number-value,
.dashboard-number-card.positive .dashboard-number-area, .dashboard-number-card.negative .dashboard-number-value,
.dashboard-number-card.negative .dashboard-number-area {
  color: white;
}

.dashboard-number-card.positive .dashboard-number-area, .dashboard-number-card.negative .dashboard-number-area {
  opacity: 0.6;
}

.dashboard-number-card.positive {
  background: #3adb76;
}

.dashboard-number-card.negative {
  background: #cc4b37;
}

.dashboard-number-value {
  color: #1779ba;
  font-size: 22px;
  font-weight: 800;
  padding: 0 1rem 1rem 1.75rem;
  text-align: center;
}

.dashboard-number-area {
  bottom: 6px;
  color: #1779ba;
  font-size: 12px;
  left: 6px;
  margin-bottom: 0;
  text-align: center;
}

#red-count{
  margin-bottom: 0;
  margin-top: 20px;
}

/*form contac*/
@charset "UTF-8";

.contact-panel-button {
  background: #0a0a0a;
  color: #fefefe;
  width: auto;
  padding: 0.25rem 1.25rem;
  text-align: center;
  position: absolute;
  top: -30px;
  right: 20px;
  transition: background 0.25s ease-in-out;
}

.contact-panel-button:after {
  content: "тег";
  margin-left: 5px;
}

.contact-panel-button:hover {
  background: #242424;
  color: #f0f0f0;
}

.is-active .contact-panel-button:after {
  content: "тее";
}

.contact-panel {
  padding: 1rem;
  z-index: 1;
  background: #0a0a0a;
  width: 350px;
  height: 375px;
  position: fixed;
  bottom: -375px;
  right: 20px;
  transition: bottom 0.5s ease-in-out;
}

.contact-panel label {
  color: #fefefe;
  width: 100%;
}

.contact-panel input[type="text"],
.contact-panel input[type="email"],
.contact-panel textarea {
  background: #303030;
  border: #0a0a0a;
  transition: background 0.3s ease-in-out;
}

.contact-panel input[type="text"]:focus,
.contact-panel input[type="email"]:focus,
.contact-panel textarea:focus {
  background: #fefefe;
}

.contact-panel .contact-panel-actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-panel .submit-button {
  margin-bottom: 0;
}

.contact-panel .cancel-button {
  margin-bottom: 0;
  padding: 0.75rem 1rem;
  color: #fefefe;
  transition: background 0.25s ease-in-out;
}

.contact-panel .cancel-button:hover {
  background: #242424;
  color: #f0f0f0;
}

.contact-panel.is-active {
  bottom: 0;
}

@media screen and (max-width: 39.9375em) {
  .contact-panel {
    width: 100%;
    right: 0;
  }
  .box{
      width:100%;
  }
  .box2{
      display: none;
  }
}

/*pagination*/


.pagination-circular li.current {
  border: 1px solid #1779ba;
  border-radius: 5000px;
  padding: 0.285em 0.8em;
  font-size: 18px;
}

.pagination-circular li.disabled {
  border: 1px solid #cacaca;
  padding: 0.285em 0.8em;
  border-radius: 5000px;
  font-size: 18px;
}

.pagination-circular a {
  border-radius: 5000px;
  padding: 0.285em 0.8em;
  border: 1px solid #1779ba;
  font-size: 18px;
}

.pagination-circular li:not(.disabled):hover a {
  background: #1779ba;
  color: #fefefe;
}

.pagination-circular li a {
  transition: background 0.15s ease-in, color 0.15s ease-in;
}



/*Tabla detalles*/

.pricing-table {
  background-color: #fefefe;
  border: solid 1px #cacaca;
  width: 100%;
  text-align: center;
  list-style-type: none;
}

.pricing-table li {
  border-bottom: dotted 1px #cacaca;
  padding: 0.875rem 1.125rem;
}

.pricing-table li:last-child {
  border-bottom: 0;
}

.pricing-table .title {
  background-color: #E6E6E6;
  color: black;
  border-bottom: 0;
}

.pricing-table .price {
  background-color: #ffffff;
  font-size: 2rem;
  border-bottom: 0;
}

.pricing-table .description {
  color: #8a8a8a;
  font-size: 80%;
}

.pricing-table :last-child {
  margin-bottom: 0;
}

/*Cambio current*/
.pagination .current{
  background-color: #1779BA;
  padding: 0 !important;
}

.pagination .current a{
  color: #fefefe !important;
}

.button.secondary{
  margin:0 0 1rem;
}

/*page error*/


.full-width-testimonial {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.1)), url("http://localhost/inmobiliariavalladolid/frontend/web/assets/imagenes/error.jpg");
  background-position: center center;
}

.full-width-testimonial-icon .quote-path {
  fill: none;
  stroke: #ffae00;
  stroke-width: 2.5192;
  stroke-miterlimit: 10;
}

.full-width-testimonial-content,
.full-width-testimonial-icon {
  text-align: center;
}

.full-width-testimonial-section {
  padding-top: 2rem;
}

.full-width-testimonial-section .full-width-testimonial-text {
  font-weight: 300;
  color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: -5px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 1.5em;
}

@media print, screen and (min-width: 40em) {
  .full-width-testimonial-section .full-width-testimonial-text {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media print, screen and (min-width: 64em) {
  .full-width-testimonial-section .full-width-testimonial-text {
    padding-left: 180px;
    padding-right: 180px;
    font-size: 1.8em;
  }
}

@media screen and (min-width: 75em) {
  .full-width-testimonial-section .full-width-testimonial-text {
    padding-left: 300px;
    padding-right: 300px;
  }
}

.full-width-testimonial-section .full-width-testimonial-source {
  font-size: 1.2em;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding-bottom: 0;
  margin-bottom: 0.2em;
  font-size: 1.0em;
}

.full-width-testimonial-section .full-width-testimonial-source-context {
  display: block;
  font-size: 0.9em;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 0.8em;
}

.full-width-testimonial-section .slick-slider {
  margin-bottom: 0px;
}

.full-width-testimonial-text,
.full-width-testimonial-content,
.full-width-testimonial-source,
.full-width-testimonial-icon {
  padding-bottom: 2rem;
}

.full-width-testimonial-content {
  width: 100%;
}

#errorlink{
  color:black;
  font-size: 25px;
}

#errorlink:hover{
    text-decoration: underline;
}


#contact-form .form-icons h4 {
  margin-bottom: 1rem;
}

#contact-form .form-icons .input-group-label {
  background-color: #1779ba;
  border-color: #1779ba;
}

#contact-form .form-icons .input-group-field {
  border-color: #1779ba;
}

#contact-form .form-icons .fa {
  color: black;
  width: 1rem;
}

.row.row#row-contact{
  margin-right: 0;
}

/*section{
    float:right;
    margin: 0 1.15%;
    width: 90%;
}*/
aside{
   
    margin: 45px -90.95%;
/*     background-color: #DDD;*/
    
        
}
.publi{
    width: 100%;
    padding: 10%;
    margin-left: 5%;
/*    background-color: black;*/
   margin-bottom: 10px;
}
.box{
    display: inline-block;
    width: 95%;
}
.box2{
   
    width: 5%;
    float: left;
    
}
.titulo-publi{
/*    border: 1px solid; */
    padding: 10px; 
    width: 100px;
    word-wrap: break-word;
}
img.imagenes-publicidad{
  width: 100%;
  height: 150px;
  
}